:root {
  --bg: #fff;
  --bgSoft: #fdddff;
  --bgHard: #f699fd;
  --bgGradient: linear-gradient(to top, #f699fd, #fdddff);
  --text: #000;
  --textSoft: #2a2a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
